<h1>All our flats</h1>

<% @flats.each do |flat| %>
  <div>
    <h3><%= flat.name %></h3>
    <p><%= flat.address %></p>
    <p><%= flat.number_of_guests %></p>
    <p><%= flat.price_per_night %></p>
  </div>
<% end %>
